<div id="<%= dom_id album %>" class="text-gray-400">
  <% if album.image.attached? %>
    <div class="flex w-full h-40 justify-center items-center">
      <%= image_tag url_for(album.image), class: "w-40" %>
    </div>  
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= album.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Song:</strong>
    <%= album.songs.pluck(:title).join(", ") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Release date:</strong>
    <% if album.release_date.present? %>
      <%= album.release_date %>
    <% else %>
      Unknown
    <% end %>
  </p>

</div>
