<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Songs" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl m-4 text-gray-300">Songs</h1>
    <%= link_to "New song", new_admin_song_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="songs" class="w-full m-4">
    <% @songs.each do |song| %>
      <% bg_color = cycle('#220c30', '#1d0f30') %>
      <div class="flex w-full items-center justify-between h-20" style="background-color: <%= bg_color %>;">
        <%= link_to admin_song_path(song), class: "flex-grow flex items-center w-full h-full cursor-pointer hover:bg-gray-200/10" do %>
          
          <div class="flex w-12 h-12 ml-10 justify-center items-center">
            <% if song.image.attached? %>
              <%= image_tag url_for(song.image) %>
            <% end %>
          </div>

          <div class="flex-grow items-center w-0 ml-10">
            <h2 class="text-gray-300"><%= song.title %></h2>
          </div>

          <div class="flex-grow flex items-center justify-center text-gray-300 w-0">
            <% song.artists.each_with_index do |artist, i| %>
              <%= artist.name %><%= ", " unless i == song.artists.size - 1 %>
            <% end %>
          </div>

          <div class="flex-grow flex items-center justify-center w-1/12">
            <h2 class="text-gray-300">
              <% if song.duration.present? %>
                <%= song.duration.strftime('%M:%S') %>
              <% else %>
                00:00
              <% end %>
            </h2>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
