<!-- app/views/client/dashboard/_library.html.erb -->
<div id="add-playlist" class="flex items-center w-full justify-between mb-5 pl-10 pt-10">
  <h2 class="text-gray-300 font-extrabold text-3xl">Library</h2>
  <%= image_tag 'index/plus-icon.svg', alt: 'Add', class: 'h-6 w-6 mr-10 svg-white cursor-pointer', id: 'add-playlist-icon' %>
</div>

<div class="flex space-x-4 p-4 justify-center">
  <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">My Playlist</button>
  <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">Others</button>
</div>

<div id="liked-lib" class="py-2 px-3 hover:bg-gray-100/10 transition duration-300 flex">
  <div class="flex h-full items-center">
    <%= image_tag 'love-icon.svg', alt: 'Add', class: 'h-18 w-12 svg-white border ml-1' %>
  </div>
  <div class="text-gray-300 flex-col ml-3">
    <p>Liked</p>
    <p class="text-gray-500 text-sm"><%= current_user.songs.count %> Songs</p>
  </div>
</div>

<!-- Playlists List -->
<%= render "client/playlists/playlist" %>

<!-- Hidden New Playlist Form -->
<div id="new-playlist-form" style="display: none;">
  <%= form_with model: Playlist.new, url: client_playlists_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :name, 'Playlist Name', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>
    <div class="flex items-center justify-between">
      <%= form.submit 'Create Playlist', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    </div>
  <% end %>
</div>