<!-- index.html .html.rb-->

<div class="flex h-auto w-full space-x-4 mt-24">
  <!-- Library -->
  <div class="flex flex-col rounded-lg p-10 shadow-lg w-4/12 h-full" style="background-color: #1d0f30;">
    <div class="flex items-center w-full justify-between mb-5">
      <h2 class="text-gray-300 font-extrabold text-3xl">Library</h2>
      <%= image_tag 'index/plus-icon.svg', alt: 'Add', class: 'h-6 w-6 mr-4 svg-white' %>
    </div>

    <div class="flex space-x-4 p-4 justify-center">
      <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">My Playlist</button>
      <button class="bg-purple-700 text-gray-400 rounded-full py-0 px-3" style="background-color: #4A2574;">Others</button>
    </div>

    <div id="playlists" class="space-y-5 flex flex-col">
      
    </div>
  </div>

  <!-- Home -->
  <div class="rounded-lg shadow-lg w-8/12 max-h-full" style="background-color: #1d0f30;">
    <p class="text-gray-300 font-extrabold text-3xl p-7 "> Recomended for you</p>
    <div class="flex items-center h-20 text-gray-300 bg-[#1d0f30] p-4">
      <p class="w-1/12 text-center">#</p>
      <p class="w-5/12 flex text-center">Song</p>
      <p class="w-full text-center">Artist</p>
      <p class="w-5/12 pl-3">Duration</p>
    </div>

    <div id="songs" class="w-full left-0">
      <% @songs.each do |song| %>
      <% bg_color = cycle('#220c30', '#1d0f30') %>
      <div class="flex w-full items-center justify-between h-20" style="background-color: <%= bg_color %>;">
        <div class=".song-container flex-grow flex items-center w-full h-full cursor-pointer hover:bg-gray-200/10" data-audio-id="<%= dom_id(song) %>">
          <div class="flex w-12 h-12 ml-10 justify-center items-center rounded-xl">
            <% if song.image.attached? %>
              <%= image_tag url_for(song.image) %>
            <% end %>
          </div>

          <div class="flex-grow items-center w-0 ml-2">
            <h2 class="text-gray-300"><%= song.title %></h2>
          </div>

          <div class="flex-grow flex items-center justify-center text-gray-300 w-0">
            <% song.artists.each_with_index do |artist, i| %>
              <%= artist.name %><%= ", " unless i == song.artists.size - 1 %>
            <% end %>
          </div>

          <div class="flex-grow flex items-center justify-center w-1/12">
            <h2 class="text-gray-300">
              <% if song.duration.present? %>
                <%= song.format_duration(song.duration) %>
              <% else %>
                00:00
              <% end %>
            </h2>
          </div>

          <!-- Hidden audio element -->
          <% if song.audio.attached? %>
            <audio id="<%= dom_id(song) %>" controls style="display: none;">
              <source src="<%= url_for(song.audio) %>" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
