<div id="<%= dom_id song %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= song.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= song.genre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Release date:</strong>
    <%= song.release_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= song.duration %>
  </p>

</div>
