<!-- application.html.rb -->
<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const durationField = document.getElementById('duration-field');

        durationField.addEventListener('input', function() {
          let value = this.value;
          // Remove any non-digit characters
          value = value.replace(/\D/g, '');
          // Format as MM:SS
          if (value.length > 2) {
            value = value.slice(0, -2) + ':' + value.slice(-2);
          }
          this.value = value;
        });
      });
    </script>
  </head>

  <body style="background-color: #0e061a;">
    
      <div class="mb-24">
        <%= render "layouts/navbar" %>
      </div>

      <div class="container mx-auto">
        <% if flash[:notice] %>
          <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= flash[:notice] %></span>
          </div>
        <% elsif flash[:alert] %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= flash[:alert] %></span>
          </div>
        <% end %>
      </div>
    
  </body>
</html>
